openapi: "3.0.1"
info:
  title: "3Scribe Transcription API"
  version: "2023-11-02T02:13:09Z"
  description: |
    The 3Scribe Transcription API allows you to remotely request new transcription jobs and to manage and retrieve information about your current jobs.
  termsOfService: https://3scri.be/termsofservice
  contact:
    email: support@3scri.be
externalDocs:
  description: Find out more about 3Scribe Transcription
  url: https://3scri.be  
servers:
  - url: "https://api.3scri.be"
tags:
  - name: jobs
    description: Everything about your Transcription Jobs
    externalDocs:
      description: Find out more
      url: https://helpcentre.3scri.be
  - name: transcribe
    description: Submit a new Transcription Job
    externalDocs:
      description: Find out more 
      url: https://helpcentre.3scri.be
paths:
  /jobs:
    get:
      tags:
        - jobs
      summary: Request a list of your transcription jobs
      description: You can use this endpoint to retrieve a list of transcription jobs in your account. For a basic call, the servers will return a 'page' of 10 records sorted by the transcription job name in ascending order. However, you can add parameters to selection different amounts of data, a different page of data, sorted and ordered by different fields.
      operationId: listJobs
      parameters:
        - name: page
          in: query
          description: This will request a specific page of up to the number of records specified in the 'perpage' parameter or 10 by default. If the page number specified exceeds the number of potential pages of data contained in your account, an empty data set will be returned.
          required: false
          explode: false
          schema: 
            type: integer
            format: int32
            default: 1
        - name: perpage
          in: query
          description: The number of records to be returned in each request
          required: false
          explode: false
          schema: 
            type: integer
            format: int32
            default: 10
            enum: 
              - 10
              - 25
              - 50
              - 100
        - name: order
          in: query
          description: >
            The field to order the data by: 
              * `1` - Job Name 
              * `2` - Duration
              * `3` - Job Status
              * `4` - Date Created
              * `5` - Job Language
          required: false
          explode: false
          schema: 
            type: integer
            format: int32
            default: 1
            enum: 
              - 1
              - 2
              - 3
              - 4
              - 5
        - name: direction
          in: query
          description: >
            The direction to organize the retrieved data:
              * `1` - Ascending
              * `2` - Descending
          required: false
          explode: false
          schema: 
            type: integer
            format: int32
            default: 1
            enum: 
              - 1
              - 2
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
        '400':
          description: > 
            Bad Request: The request could not be understood by the server due to malformed syntax.
        '401':
          description: > 
            Unauthorized: Your API key is invalid.
        '403':
          description: > 
            Forbidden: The requested resource is is not available publically.
        '404':
          description: > 
            Not Found: The specified resource could not be found.
        '405':
          description: > 
            Method Not Allowed: You tried to access a resource with an invalid method.
        '406':
          description: > 
            Not Acceptable: You requested a format that isn't JSON.
        '410':
          description: > 
            Gone: The resource requested has been removed from our servers.
        '429':
          description: > 
            Too Many Requests: You're requesting too many resource
        '500':
          description: > 
            Internal Server Error: We had a problem with our server. Please try again later.
        '503':
          description: > 
            Service Unavailable: We're temporarily offline for maintenance. Please try again later.
  /jobs/{jobid}:
    get:      
      tags:
        - jobs
      summary: Request a specific transcription job
      description: You can use this endpoint to retrieve an object containing the details and current status of the specified transcription job.
      operationId: getJobDetails
      parameters:
        - name: "jobid"
          in: "path"
          description: The alphanumeric code that references a specific transcription job. 
          required: true
          schema:
            type: "string"
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobDetails'
        '400':
          description: > 
            Bad Request: The request could not be understood by the server due to malformed syntax.
        '401':
          description: > 
            Unauthorized: Your API key is invalid.
        '403':
          description: > 
            Forbidden: The requested resource is is not available publically.
        '404':
          description: > 
            Not Found: The specified resource could not be found.
        '405':
          description: > 
            Method Not Allowed: You tried to access a resource with an invalid method.
        '406':
          description: > 
            Not Acceptable: You requested a format that isn't JSON.
        '410':
          description: > 
            Gone: The resource requested has been removed from our servers.
        '429':
          description: > 
            Too Many Requests: You're requesting too many resource
        '500':
          description: > 
            Internal Server Error: We had a problem with our server. Please try again later.
        '503':
          description: > 
            Service Unavailable: We're temporarily offline for maintenance. Please try again later.
    delete:
      tags:
        - jobs
      summary: Delete a specific transcription job
      description: You can use this endpoint to delete the specified transcription job.
      operationId: deleteJob
      parameters:
        - name: "jobid"
          in: "path"
          description: The alphanumeric code that references a specific transcription job. 
          required: true
          schema:
            type: "string"
      responses:
        '200':
          description: Successful Operation
        '400':
          description: > 
            Bad Request: The request could not be understood by the server due to malformed syntax.
        '401':
          description: > 
            Unauthorized: Your API key is invalid.
        '403':
          description: > 
            Forbidden: The requested resource is is not available publically.
        '404':
          description: > 
            Not Found: The specified resource could not be found.
        '405':
          description: > 
            Method Not Allowed: You tried to access a resource with an invalid method.
        '406':
          description: > 
            Not Acceptable: You requested a format that isn't JSON.
        '410':
          description: > 
            Gone: The resource requested has been removed from our servers.
        '429':
          description: > 
            Too Many Requests: You're requesting too many resource
        '500':
          description: > 
            Internal Server Error: We had a problem with our server. Please try again later.
        '503':
          description: > 
            Service Unavailable: We're temporarily offline for maintenance. Please try again later.

  /transcribe:
    post:
      tags:
        - transcribe
      summary: Submit a new transcription job
      description: > 
        This endpoint will request the 3Scribe system to process a file. Parameters for this type of request must be formatted as JSON. The file can be passed to us in a number of differnt ways depending on the fields passed in the request. A user can:
          1. Request a pre-signed URL granting them permission to upload a file to a secure AWS S3 bucket using a suqsequent PUT request. Once uploaded files are instantly moved from this public facing location to our secure storage and the transcription processing begins.

          2. Provide a publically accessable URL to 3Scribe. If provided, the processing will begin and the file will be downloaded to our secure storage as part of the process.          

        ### Parameters

        * **name (required)** - A descriptive title for the transcription job that will allow the user to identify the job in the 3Scribe portal.

        * **url** - A valid URL to a single file. Either this parameter or requesturl must be provided

        * **requesturl** - The filename of the file to upload	Either this parameter or the url must be provided

        * **language** - A ISO standard language and country code. If omitted, the accounts default language will be assumed. Acceptable values are as per the following list.

        * **onhold** - An optional boolean value that overrides the 'On Hold' setting in the users profile.  If set the job will be created, analyzed but not transcribed.

        * **detectlanguage** - An optional boolean value that overrides the language setting and requests that the language spoken be detected from the dialog.

        ### Language Codes

        * **en-US** - English (United States)

        * **en-GB** - English (Great Britain)

        * **bg-BG** - Bulgarian        
        
        * **hr-HR** - Croatian                
        
        * **cs-CZ** - Czech        
        
        * **da-dk** - Danish        
        
        * **nl-NL** - Dutch        
        
        * **fi-FI** - Finnish        
        
        * **fr-FR** - French        
        
        * **de-DE** - German        
        
        * **el-GR** - Greek        
        
        * **hu-HU** - Hungarian        
        
        * **it-IT** - Italian        
        
        * **nb-NO** - Norwegian        
        
        * **pl-PL** - Polish        
        
        * **pt-PT** - Portugese        
        
        * **ro-RO** - Romanian        
        
        * **sk-SK** - Slovak        
        
        * **sl-SI** - Slovenian        
        
        * **es-US** - Spanish (United States)        
        
        * **es-ES** - Spanish (Spain)        
        
        * **sv-SE** - Swedish        
        
        * **tr-TR** - Turkish                


      operationId: createNewJob
      requestBody:
        $ref: '#/components/requestBodies/NewJob'
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobDetails'
        '400':
          description: > 
            Bad Request: The request could not be understood by the server due to malformed syntax.
        '401':
          description: > 
            Unauthorized: Your API key is invalid.
        '403':
          description: > 
            Forbidden: The requested resource is is not available publically.
        '404':
          description: > 
            Not Found: The specified resource could not be found.
        '405':
          description: > 
            Method Not Allowed: You tried to access a resource with an invalid method.
        '406':
          description: > 
            Not Acceptable: You requested a format that isn't JSON.
        '410':
          description: > 
            Gone: The resource requested has been removed from our servers.
        '429':
          description: > 
            Too Many Requests: You're requesting too many resource
        '500':
          description: > 
            Internal Server Error: We had a problem with our server. Please try again later.
        '503':
          description: > 
            Service Unavailable: We're temporarily offline for maintenance. Please try again later.

components: 
  schemas: 
    Word: 
      type: object
      properties:
        word:
          type: string
          description: A single word from the transcript
        confidence:
          type: number
          description: The confidence level of the word
        timing:
          type: number
          description: The start time in milliseconds of the word offset from the beginning of the audio
        speaker:
          type: number
          description: The speaker identification number
    Transcription:  
      type: object
      properties:
        text:
          type: string
          description: The full text of the audio in the requested format
        words: 
          type: array
          items:
            $ref: '#/components/schemas/Word'
    Job: 
      type: object
      properties:
        jobid:
          type: string
          description: The unique, identifying code for this transcription job
        jobname:
          type: string
          description: The name the user provided to identify the job
        creationdate:
          type: string 
          format: date-time
          description: The UTC time and date the transcription job was created, stored in ISO-8601 format
        jobstatus:
          type: string
          description: | 
            The current status of the transcription job. Possible status's are: Completed, Inactive, Requested, Processing, Error
        duration:
          type: number 
          format: int32
          description: The length of the uploaded audio or video file in seconds
        language: 
          type: string
          description: The language code denoting the language used when transcribing the job
        source: 
          type: string
          description: The source of the job request i.e. direct (web front-end) or one of our integrations such as Zapier or Zendesk
    JobDetails:
      type: object
      properties:
        jobid: 
          type: string
          description: The unique, identifying code for this transcription job
        jobname: 
          type: string
          description: The name the user provided to identify the job
        url: 
          type: string
          description: The URL of the file provided during a transcription request API call
        jobstatus: 
          type: string
          description: > 
            The current status of the transcription job. Possible status's are: Completed, Inactive, Requested, Processing, Error
        creationdate: 
          type: string
          format: date-time
          description: The UTC time and date the transcription job was created, stored in ISO-8601 format
        duration: 
          type: number
          format: int32
          description: The length of the uploaed audio or video file in seconds
        language: 
          type: string
          description: The language code denoting the language used when transcribing the job
        source: 
          type: string
          description: The source of the job request i.e. direct (web front-end) or one of our integrations such as Zapier or Zendesk
        errormessage: 
          type: string
          description: If the system was unable to retrieve the requested data this field will contain an explaination.
        transcription: 
          type: object
          description: The transcription object contains information about the transcript. Currently this just contains the text of the transcription but will be exanded to include timings, word confidence, sentiment etc. This will be null unitl the file completes processing.
          $ref: '#/components/schemas/Transcription'
  requestBodies:
    NewJob:
      description: Parameters to create a new transcription job
      content:
        application/json:
          schema:
            required: 
              - name
            type: object
            properties:
              name:
                type: string          
                description: A descriptive title for the transcription job that will allow the user to identify the job in the 3Scribe portal.
              url:
                type: string   
                format: uri       
                description: A valid URL to a single file. Either this parameter or requesturl must be provided
              requesturl:
                type: string          
                description: The filename of the file to upload. Either this parameter or the url must be provided
              language:
                type: string 
                enum: 
                  - en-US
                  - en-GB
                  - bg-BG
                  - hr-HR
                  - cs-CZ
                  - da-dk
                  - nl-NL
                  - fi-FI
                  - fr-FR
                  - de-DE
                  - el-GR
                  - hu-HU
                  - it-IT
                  - nb-NO
                  - pl-PL
                  - pt-PT
                  - ro-RO
                  - sk-SK
                  - sl-SI
                  - es-US
                  - es-ES
                  - sv-SE
                  - tr-TR
                description: ISO standard language and country code	If omitted, the accounts default language will be assumed. Acceptable values are as per the following table.
              onhold:
                type: boolean          
                default: false
                description: An optional boolean value that overrides the 'On Hold' setting in the users profile.  If set the job will be created, analyzed but not transcribed.
              detectlanguage:
                type: boolean          
                default: false
                description: An optional boolean value that overrides the language setting and requests that the language spoken be detected from the dialog.

  securitySchemes:
    APIKey:
      type: apiKey
      name: APIKey
      in: header
